.input-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-label label {
  color: #002db3;
}

.input-label > span {
  font-size: 23px;
  padding-top: 15px;
}

.input-customer {
  display: inline-grid;
  text-align: left;
}

.input-customer > input {
  width: 120px;
}

.input-time {
  display: inline-grid;
  text-align: left;
}

.input-time > select {
  width: 100px;
}

.input-dwell {
  display: inline-grid;
  text-align: left;
}

.input-dwell > select {
  margin-top: 6px;
  padding-left: 6px;
}

.input-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.input-button-left {
  background-color: #ededf3;
  border-color: #ededf3;
  border-radius: 10px;
  border-width: 0px;
  color: #002db3;
  font-weight: bold;
  margin-right: 30px;
  height: 30px;
  width: 100px;
}

.input-button-right {
  background-color: #002db3;
  border-color: #002db3;
  border-radius: 10px;
  border-width: 0px;
  color: white;
  height: 30px;
  width: 100px;
}
